/* [project]/src/pages/styles.css [client] (css) */
:root {
  font-family: Inter, system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  --main-dark: #2f2170;
  --main-light: #dff8fa;
  --transparent-dark: #29362880;
  --transparent-light: #ddebec80;
  --border-shadow: #56727780;
  --accent-red: red;
  --links-hover: #a0a5ff;
  font-size: 10px;
}

#root {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
}

.main, .error {
  flex-grow: 1;
  padding: 20px;
  color: var(--main-light);
  font-size: 2rem;
}

.download {
  color: var(--main-light);
}

body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-blend-mode: darken;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("/falcon.jpg");
}

body[dark] {
  background-image: url("/dark.jpg");
}

body[dark] .btn {
  background: var(--main-light);
  color: var(--main-dark);
}

body[dark] .toggler {
  background: #f7de01;
  background-image: url("/theme-light.svg");
}

body[dark] .header {
  color: var(--main-light);
}

body[dark] .footer a {
  color: var(--main-light);
}

body[dark] .card-container {
  background: var(--transparent-light);
}

body[dark] .card-details {
  background: var(--transparent-light);
}

body[dark] .download {
  color: var(--main-dark);
}

.container {
  margin: 0 auto;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("/death-star.jpg");
  background-blend-mode: darken;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 1000px;
}

.btn-container {
  display: flex;
  justify-content: center;
  margin: 10px;
  gap: 10px;
}

.btn {
  background: var(--main-dark);
  color: var(--main-light);
  width: 80px;
  height: 33px;
  cursor: pointer;
  transition: all .5s;
}

.btn:not([disabled]):hover {
  background: var(--links-hover);
}

.btn[disabled] {
  background: var(--links-hover);
  opacity: .5;
  cursor: default;
}


/* [project]/src/components/header/styles.css [client] (css) */
.header {
  width: 100%;
  min-height: 90px;
  color: var(--main-dark);
}

.title {
  font-size: 4rem;
  padding: 10px;
}


/* [project]/src/components/footer/styles.css [client] (css) */
.footer {
  width: 100%;
  min-height: 50px;
}

.footer a {
  text-decoration: none;
  color: var(--main-dark);
  font-size: 1.5rem;
}


/* [project]/src/components/themeToggler/styles.css [client] (css) */
.theme-button {
  position: absolute;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  top: 30px;
}

.toggler {
  width: 48px;
  height: 48px;
  padding: 0;
  border-radius: 50%;
  background: #090033;
  background-image: url("/theme-dark.svg");
  cursor: pointer;
}


/*# sourceMappingURL=src_7ae6c5._.css.map*/
